*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}

main{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(78, 76, 76);
}

#page{
    height:220px;
    width:500px;
    background-color:slategray;
    border-radius:10px;
    padding:10px;
}

#page1{
    display:flex;
    align-items:center;
    justify-content:center;
    height:30%;
    margin-left: 20%;
}

#page2{
    display:flex;
    align-items:center;
    height:40%;
}

.text{
    width:25%;
    margin-left:10px;
}

.enter{
    width:75%;
}

#email{
    height:40px;
    width:95%;
    border-radius:5px;
    border:none;
    padding-left:10px;
}

h1{
    color:rgb(7, 7, 7);
}

#page3{
    display:flex;
    align-items:center;
    justify-content:center;
    height:30%;
}

.button{
    height:40px;
    width:80px;
    margin-left: 75%;
    border-radius:5px;
    background-color:rgb(237, 24, 9);
    color:white;
    border:none;
    cursor:pointer;
}

#result{
    text-align:center;
    margin-top:5px;
    font-weight:bold;
}
